consul:
  data_dir: /var/lib/consul/data
  ui_dir: /var/lib/consul/ui
  config_dir: /etc/consul
  datacenter: dc1
  nameservers:
    - 8.8.8.8
  ports:
    udp:
      dns: 53
  server_pattern: 'consul-server*'
  server_target_mode: 'glob'
  services:
    example:
      name: "example",
      tags:
        - example
      address: webservice.example.com
      port: 80
      checks:
        - http: http://webservice.example.com
          interval: 5m

nginx:
  client_max_body_size: 128

microservices:
  example:
    hostname: example.services.acme.co
    containers:
      web:
        instances: 2
        docker_image: docker-registry.acme.co/services/example:latest
        stateful: False
        http: True
        http_internal_port: 8000
        base_port: 10000
        links:
          database: db
        volumes:
          - ["persistent", "/var/lib/persistent-app-data", "rw"]
        environment:
          DATABASE_PASSWORD: supersecret
      db:
        instances: 1
        docker_image: mariadb:10
        stateful: True
        volumes:
          - ["database", "/var/lib/mysql", "rw"]
        environment:
          MYSQL_ROOT_PASSWORD: supersupersecret
          MYSQL_PASSWORD: supersecret
          MYSQL_USER: myapp
          MYSQL_DATABASE: myapp

prometheus:
  proxy:
    server_name: prometheus.example.com
    ssl_certificate: /etc/ssl/certs/prometheus.example.com.pem
    ssl_key: /etc/ssl/private/prometheus.example.com.key
  alerts:
    InstanceDown: |
      ALERT InstanceDown
        IF up == 0
        FOR 1m
        LABELS { severity="critical" }
        ANNOTATIONS {
          summary = {% raw %}"Instance {{ $labels.instance }} down"{% endraw %}
        }
  configuration:
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets:
            - localhost:9090

alertmanager:
  configuration:
    global:
      # The smarthost and SMTP sender used for mail notifications.
      smtp_smarthost: mail.example.com
      smtp_from: 'alertmanager@example.com'
      smtp_auth_username: ''
      smtp_auth_password: ''
