consul:
  data_dir: /var/lib/consul/data
  ui_dir: /var/lib/consul/ui
  datacenter: dc1
  nameservers:
    - 8.8.8.8
  ports:
    udp:
      dns: 53
  server_pattern: 'consul-server*'
  services:
    example:
      name: "example",
      tags:
        - example
      address: webservice.example.com
      port: 80
      checks:
        - http: http://webservice.example.com
          interval: 5m

microservices:
  example:
    hostname: example.services.acme.co
    containers:
      web:
        instances: 2
        docker_image: docker-registry.acme.co/services/example:latest
        stateful: False
        http: True
        http_internal_port: 8000
        base_port: 10000
        links:
          database: db
        volumes:
          - ["persistent", "/var/lib/persistent-app-data", "rw"]
        environment:
          DATABASE_PASSWORD: supersecret
      db:
        instances: 1
        docker_image: mariadb:10
        stateful: True
        volumes:
          - ["database", "/var/lib/mysql", "rw"]
        environment:
          MYSQL_ROOT_PASSWORD: supersupersecret
          MYSQL_PASSWORD: supersecret
          MYSQL_USER: myapp
          MYSQL_DATABASE: myapp
